## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [2]:
import pandas as pd
import numpy as np

In [26]:
data = {'國家':['Taiwan','United States','Thailand'],
        '人口': np.random.randint(100000000,size=3)}
data = pd.DataFrame(data)
print(data)

              國家        人口
0         Taiwan   2208235
1  United States  65180590
2       Thailand   5710196

In [39]:
'''
顯示最小(大)的行名
argmin = idxmin
argmax = idxmax
'''
data.loc[data['人口'].idxmax()]

國家    United States
人口         65180590
Name: 1, dtype: object

In [41]:
data[data['人口']==data['人口'].max()]

              國家        人口
1  United States  65180590